{% extends 'base.html' %}

{% block body %}
<div class="columns is-centered">
    <span class="title is-2 is-spaced tag is-dark ">LISTA DE CIDADES </span>
</div>
<a class="button is-primary is-hovered is-pulled-right	mb-3" href="/interno/cidade/cadastrar">
    <span class="icon">
        <i class="fa-solid fa-plus fa"></i></span>
    <span>Cadastrar</span></a>

<table class="table is-striped is-fullwidth is-bordered is-hoverable">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Estado</th>
            <th>Habitantes</th>
            <th>Clima</th>
            <th>Fundação</th>
            <th>Ação</th>
        </tr>
    </thead>

    <tbody>
        {% for cidade in cidades %}
        <tr>
            <td>{{cidade.pk}}</td>
            <td>{{cidade.nome}}</td>
            <td>{{cidade.estado.nome}}</td>
            <td>{{cidade.habitantes_quantidade}}</td>
            <td>{{cidade.clima}}</td>
            <td>{{cidade.data_fundacao}}</td>
            <td>
                <a class="button is-warning is-outlined" href="/interno/cidade/editar/{{cidade.pk}}">
                    <span class="icon">
                        <i class="fa-solid fa-pencil"></i></span>
                    <span>Editar</span></a>
                <a class="button is-danger is-outlined" href="/interno/cidade/apagar/{{cidade.pk}}">
                    <span class="icon">
                        <i class="fa-solid fa-trash fa-xs"></i>
                    </span><span>Apagar</span></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}