<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'exemplos_basicos/contato.css' %}">
</head>
<body>
    
    <a href="home">Home</a>
    <h1>Gabriel Rodrigo Dos Santos</h1>
        <ul>
            <li>Telefone: (47) 98817-3411</li>
            <li>E-mail: gabinho.gs@gmail.com</li>
            <li>GitHub: bbiel1806</li>
        </ul>
</body>
</html>
