<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <span>Nome: {{nome}}</span>
    <br>
    <span>Sobrenome: {{sobrenome}}</span>
    <br>
    <span>Nome Completo: {{nome_completo}}</span>
    <br>
    <span>Idade: {{idade}}</span>
    <br>
    <span>Peso: {{peso}} kg </span>
    <span>Altura: {{altura}}</span>
    <br>
    <span>IMC: {{imc}}</span>
    <br>
    <span>Data de Nascimento: {{data_nascimento}}</span>
</body>
</html>