<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'exemplos_basicos/sobre.css' %}">
</head>
<body>
    <form action="sobre-form" method="get">
    <div>
        <div>
            <label for="campo-nome">Nome:</label>
            <input type="text" name="nome" id="campo-nome">
        </div>
        <div>
            <label for="campo-sobrenome">Sobrenome:</label>
            <input type="text" name="sobrenome" id="campo-sobrenome">
        </div>
        
        <div>
            <label for="campo-idade">Idade:</label>
            <input type="number" name="idade" id="campo-idade">
        </div>
        
        <div>
            <label for="campo-peso">Peso:</label>
            <input type="text" name="peso" id="campo-peso">
        </div>
        <div>
            <label for="campo-altura">Altura:</label>
            <input type="text" name="altura" id="campo-altura">
        </div>
            <div>
                <input type="radio" name="exercicio" id="campo-exercicio-nascimento" value="nascimento">
                <label for="campo-exercicio-nascimento">Gerar ano nascimento:</label>
            </div>
            <div>
                <input type="radio" name="exercicio" id="campo-exercicio-gerar-nome" value="nome-completo">
                <label for="campo-exercicio-gerar-nome">Gerar nome completo:</label>
            </div>
            <div>
                <input type="radio" name="exercicio" id="campo-exercicio-imc" value="imc">
                <label for="campo-exercicio-imc">Gerar IMC:</label>
            </div>  
    <div>
        <button type="submit">Resultado</button>
    </form>      





     </div>
</body>
</html>